<!doctype html>

<html lang="en">
<head>
    <title><!-- Insert your title here --></title>
</head>
<body>

<%= title%>
Opps! the monkeys got loose! well they must of ate the files. heres whats left:
<br>404 error

</body>
</html>
