<!doctype html>

<html lang="en">
<head>
    <title><!-- Insert your title here --></title>
</head>
<body>

<%= title%>
Oops! The monkeys got loose and ate the files. Here's whats left:
<br>404 error

</body>
</html>
