<!doctype html>
<html lang="en">
    <head>
        <title><!-- Insert your title here --></title>
    </head>
    <body>
        <h1>welcome</h1>

        <a href="/signup">sign up</a>
        <a href="/login">login</a>
        <a href="/advice">advice</a>
        <a href="/deals">deaks</a>
        <a href="/trainers">trainers</a>
        <a href="/compare">compare</a>
        <a href="/gyms">gyms</a>
        <a href="/clubs">clubs</a>
        <a href="/studios">studios</a>
        <a href="/place/new">add a place</a>

        <form action="<%= action %>" method="<%= method %>">
            <input type="text" name="city" placeholder="city...">
            <input type="submit" value="<%= value %>">
        </form>
    </body>
</html>